.gridcard{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto;
    margin: 2% 5%;
}
.Card{
    border: 1px solid grey;
    display: block;
    padding: 3%;
    max-height: max-content;
}
.Card img{
    width: 400px;
}
.carbonbg{
    text-align: center;
    height: 150px;
    padding: 2% 0px;
    color: white;
    font-size: 45px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWn7tL4UvtoLhb_K1eTzcxGyGYWGHbNSYYOA&usqp=CAU");    
    background-size: cover;
    background-position: center;
}
