* {
    font-family: 'poppins',sans-serif;
  }

.cc-card {
     display:flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carbon-img {
  width: 50%;
}

.cc-title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.carbondetails {
    width: 50%;
    padding-left: 24px;
}

.cc-seller {
    text-transform: capitalize;
    padding-left: 5px;
}

.cc-price {
    border: 2px solid #27963C;
    width: max-content;
    padding: 7px 14px;
    border-radius: 20px;
}

.carbonparagraph{
    font-size: 15px;
}

.location{
    color: #27963C;
    font-weight: 500;
    font-size: 15px;
}

.cc-purchase {
    border-radius: 0px;
    background-color: #27963C;
    font-size: 14px;
    font-weight: 600;
}