.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-form {
  width: 420px;
  border: 1px solid black;
  padding: 50px;
  background-color: white;
}

.login-form-title {
  margin-bottom: 0px;
}

.login-label {
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

.Login-form-parag {
  text-align: end;
  font-size: 14px;
  color: #bdbdbd;
  font-weight: 300;
  height: 110px;
}

.login-form-parag a {
  color: green;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: yellowgreen;
}

.forgot-password {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #3665c5;
  line-height: 0px;
  text-align: right;
}

.user {
  position: absolute;
  height:95px;
  left:482px;
}

.lock{
  position: absolute;
  height:92px;
  left:480px;
}

.login-form-paragraph {
  font-size: 13px;
}
