.Login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Login-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Login-form-content {
  padding-left: 12%;
  padding-right: 12%;
}




.login-label {
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
.Login-form-parag {
  text-align: end;
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 300;
  height: 110px;
}

a:link {
  text-decoration: none;
}
a:hover {
  color: #4f98cb;
}

.forgot-password {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #3665c5;
  line-height: 0px;
  text-align: right;
}

.user {
  position: absolute;
  height:95px;
  left:482px;
}

.lock{
  position: absolute;
  height:92px;
  left:480px;
}
