
.Login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Login-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Login-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Login-form-title {
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
    position: absolute;
    top:130px;
    line-height: 25px;
    font-family: 'Poppins';
    left:477px;
  }
  .Login-form-paragraph {
    text-align: center;
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 3000;
    position: absolute;
    top:150px;
    font-family: 'Poppins';
    font-style: normal;
  }
  
  label {
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
  }
  .Login-form-parag {
    text-align: end;
    font-size: 16px;
    color: #BDBDBD;
    font-weight: 300;
    height: 110px;
  }

   a:link {
    text-decoration: none;
  }
  a:hover {
    color:#4F98CB;
  } 

  .forgot-password {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #3665C5;
    line-height: 0px;
    text-align: right;

  }

  .mail {
    position: absolute;
    height:95px;
    left:482px;
  }

  .lock{
    position: absolute;
    height:126px;
  }
  
