body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-green{
  background-color:#50ce07;
}
.bg-grey{
  background-color:#e6f4d4;
}
.btn{
  color: #ffff;
  background-color:#50ce07;
}
.heading{
  color:#44ad07;
}
.underline{
  color:#50ce07;

}
